/* dark-default (dark, ssr) */
.css-hSsFWv{list-style-type:none;margin-bottom:0;margin-top:0;padding-left:0;padding-right:0;width:100%}

/* light-default (light, ssr) */
.css-hSsFWv{list-style-type:none;margin-bottom:0;margin-top:0;padding-left:0;padding-right:0;width:100%}
