/* dark-default (dark, ssr) */
.css-elgsLD{font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px;list-style-type:none;margin:0;padding:0}
.css-kiInKw{color:#DEDEDE;font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px}

/* light-default (light, ssr) */
.css-elgsLD{font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px;list-style-type:none;margin:0;padding:0}
.css-jwAuXh{color:#000000;font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px}
