/* dark-default (dark, ssr) */
.css-dorpf{-webkit-column-gap:8px;column-gap:8px;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;padding-left:0;padding-right:0;row-gap:8px}

/* light-default (light, ssr) */
.css-dorpf{-webkit-column-gap:8px;column-gap:8px;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;padding-left:0;padding-right:0;row-gap:8px}
