/* dark-default (dark, ssr) */
.css-ksZnkm{box-sizing:border-box;margin-bottom:0px;margin-left:8px;margin-right:8px;order:0;width:100%}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 18px);margin-right:18px;order:0;width:calc(12.5% - 36px)}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 18px);margin-right:18px;order:0;width:calc(8.333333333333334% - 36px)}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 8px);margin-right:8px;order:0;width:calc(25% - 16px)}

/* light-default (light, ssr) */
.css-ksZnkm{box-sizing:border-box;margin-bottom:0px;margin-left:8px;margin-right:8px;order:0;width:100%}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 18px);margin-right:18px;order:0;width:calc(12.5% - 36px)}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 18px);margin-right:18px;order:0;width:calc(8.333333333333334% - 36px)}
.css-ksZnkm{display:block;margin-bottom:0px;margin-left:calc(0% + 8px);margin-right:8px;order:0;width:calc(25% - 16px)}
