/* dark-default (dark, ssr) */
.css-jOFQlY{color:#DEDEDE;font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px;margin-bottom:0;margin-top:0}
.css-kzLNyP{padding-bottom:12px;padding-top:12px}

/* light-default (light, ssr) */
.css-jYoXid{color:#000000;font-family:UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:16px;font-weight:500;line-height:20px;margin-bottom:0;margin-top:0}
.css-kzLNyP{padding-bottom:12px;padding-top:12px}
