/* dark-default (dark, ssr) */
.css-dFpMXw{background-color:#161616;border-top-left-radius:16px;border-top-right-radius:16px;box-shadow:0px -4px 16px rgba(0, 0, 0, 0.12);max-height:50vh}
.css-dNGOVH{-webkit-box-flex:1;flex-grow:1;height:100%;margin-bottom:-14px;overflow:auto}
.css-hOlDa-d{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column;height:100vh;overflow:hidden;position:relative}
.css-kLeLdO{color:#DEDEDE;height:100%;overflow:auto}

/* dark-interactive (dark, ssr) */
.css-dFpMXw{background-color:#161616;border-top-left-radius:16px;border-top-right-radius:16px;box-shadow:0px -4px 16px rgba(0, 0, 0, 0.12);max-height:50vh}
.css-dNGOVH{-webkit-box-flex:1;flex-grow:1;height:100%;margin-bottom:-14px;overflow:auto}
.css-hOlDa-d{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column;height:100vh;overflow:hidden;position:relative}
.css-kLeLdO{color:#DEDEDE;height:100%;overflow:auto}

/* light-default (light, ssr) */
.css-dNGOVH{-webkit-box-flex:1;flex-grow:1;height:100%;margin-bottom:-14px;overflow:auto}
.css-eQWEuj{background-color:#FFFFFF;border-top-left-radius:16px;border-top-right-radius:16px;box-shadow:0px -4px 16px rgba(0, 0, 0, 0.12);max-height:50vh}
.css-hOlDa-d{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column;height:100vh;overflow:hidden;position:relative}
.css-litDkb{color:#000000;height:100%;overflow:auto}

/* light-interactive (light, ssr) */
.css-dNGOVH{-webkit-box-flex:1;flex-grow:1;height:100%;margin-bottom:-14px;overflow:auto}
.css-eQWEuj{background-color:#FFFFFF;border-top-left-radius:16px;border-top-right-radius:16px;box-shadow:0px -4px 16px rgba(0, 0, 0, 0.12);max-height:50vh}
.css-hOlDa-d{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column;height:100vh;overflow:hidden;position:relative}
.css-litDkb{color:#000000;height:100%;overflow:auto}
