/* dark-default (dark, ssr) */
.css-etJQGw:hover{background-color:#292929}
.css-iSzYmm{-webkit-overflow-scrolling:touch;background-color:#161616;overflow:auto;position:relative;transform:scale(1)}
.css-jkqalI{border-spacing:0;box-sizing:border-box;min-width:100%}

/* light-default (light, ssr) */
.css-ffiBQt{-webkit-overflow-scrolling:touch;background-color:#FFFFFF;overflow:auto;position:relative;transform:scale(1)}
.css-jkqalI{border-spacing:0;box-sizing:border-box;min-width:100%}
.css-krNSPm:hover{background-color:#F3F3F3}
