/* dark-default (dark, ssr) */
.css-ekbrpO{-webkit-box-direction:normal;-webkit-box-orient:horizontal;background-color:#161616;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:row;padding-left:10px;padding-right:10px}
.css-lpcwSG{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column}

/* light-default (light, ssr) */
.css-iDIfUR{-webkit-box-direction:normal;-webkit-box-orient:horizontal;background-color:#FFFFFF;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:row;padding-left:10px;padding-right:10px}
.css-lpcwSG{-webkit-box-direction:normal;-webkit-box-orient:vertical;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:column}
