/* dark-default (dark, ssr) */
.css-bmJHVU{-webkit-box-lines:multiple;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-wrap:wrap;gap:16px}

/* light-default (light, ssr) */
.css-bmJHVU{-webkit-box-lines:multiple;display:-moz-box;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;flex-wrap:wrap;gap:16px}
